/*

!.gitignore
!.gitmodules

!configuration.nix
!system-device-template.nix
!/nixos-private-config/

!home.nix

!home-device-template.nix
!/home-hw-configs/
!/home-modules/
!/system-modules/
!/system-hw-configs/
!/loose-configs/
!/bin
!/deps