[submodule "nixos-private-config"]
	path = nixos-private-config
	url = https://github.com/walseb/nixos-private-config
[submodule "fir"]
	path = deps/hoogle/custom-projects/fir
	url = https://gitlab.com/sheaf/fir
[submodule "deps/backup/WalinderPhotos"]
	path = deps/backup/WalinderPhotos
	url = git@github.com:walseb/WalinderPhotos
[submodule "deps/emacs"]
	path = deps/emacs
	url = git@github.com:walseb/QualityEmacsConfig
[submodule "deps/lapwing"]
	path = deps/lapwing
	url = https://github.com/aerickt/steno-dictionaries
