[submodule "nixos-private-config"]
	path = nixos-private-config
	url = https://github.com/walseb/nixos-private-config
[submodule "fir"]
	path = deps/hoogle/custom-projects/fir
	url = https://gitlab.com/sheaf/fir
[submodule "deps/plover-lapwing-dictionary"]
	path = deps/plover-lapwing-dictionary
	url = https://github.com/aerickt/steno-dictionaries
[submodule "cfg/emacs"]
	path = cfg/emacs
	url = git@github.com:walseb/QualityEmacsConfig
[submodule "cfg/lapwing"]
	path = cfg/lapwing
	url = https://github.com/aerickt/steno-dictionaries
